**/dist
**/data
**/logs
.github
.vscode
builddir

.env
.env.*

**/node_modules
yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions

**/.cache
.git

docker-compose*
Dockerfile*

.prettierrc.json
.vsls.json
LICENSE
README.md
