node_modules

dist

.env
data
sounds
logs

assets/parrot*/

deploy
gamerbot

yarn-error.log

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

**/.cache

.vscode/extensions.json
packages/core/src/clearguildcommands.ts
