version: '3.9'
services:
  db:
    image: postgres:13
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
  app:
    build: .
    volumes:
      - app-data:/app/data
      - app-logs:/app/logs
    depends_on:
      - db
    env_file: .env
    environment:
      POSTGRES_HOST: db

volumes:
  app-data: {}
  app-logs: {}
  db-data: {}
